 #myCarousel {

	border-bottom: 4px solid #FF8F00;
	
}

#myCarousel .fill {
	height: 600px;
	background-size: cover;
	background-position: center center;
	
	
}
@media (max-width: 767px) {
	#myCarousel .fill {
		height: 250px;
	}
	#home h1 {
		font-size: 26px;
	}
#home h1 span {
	font-weight: 300;
}
}


#footer {
	border-top: 4px solid #FF8F00;
	background-color: #101010;
	margin-top: 40px;
	color: #EEEEEE;
	padding: 40px 0 40px 0;
	font-size: 16px;
	
}

#footer-logo {
	width: auto;
	height: 60px;
	margin-bottom: 20px;
}

#footer ul {
	margin: 0;
	padding: 0;
	
}

#footer ul li {
	list-style: none;
	margin-bottom: 6px;
	
}

#footer ul li a,
#footer ul li a:visited {
	color: #EEEEEE;
	width: 100vw;
}


body {
	padding-top: 54px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}
#header {
	border-bottom: 4px solid #FF8F00;
}

#header-logo {
	width: auto;
	height: 20px;
}